* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0f0f0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #fff;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2 {
    color: #3498db; /* Azul chamativo */
    font-size: 2.5rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

form input {
    padding: 15px;
    outline: none;
    border: 2px solid #3498db; /* Azul chamativo */
    border-radius: 16px;
    font-size: 16px;
    margin-bottom: 25px;
    transition: all 0.5s;
}

form input:focus {
    border-color: #2980b9; /* Azul mais escuro ao focar */
}

form button {
    padding: 15px 30px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #e74c3c; /* Vermelho chamativo */
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

form button:hover {
    background-color: #c0392b; /* Vermelho mais escuro ao passar o mouse */
}

form button:focus {
    outline: none;
}
